
body
{
	background-color: white;
}
#kimlink
{
	font-size: 45px;
	text-align: center;
}

.wedding-photo img
{ 
	width: 80%;
	background: red;
	display: block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top:	4px;
	margin-bottom:	4px;
	padding: 4px;
	border: 10px;
}

#map
{
	width:80%;
	height:300px;
	background: yellow;
	display: block;
	margin-left: auto;
	margin-right: auto;
}