
body
{
	background-color: black;
}

.wedding-photo img
{ 
	width: 80%;
	background: white;
	display: block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top:	4px;
	margin-bottom:	4px;
	padding: 4px;
	border: 10px;
}

#map
{
	width:400px;
	height:300px;
	background: yellow;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media(min-width:780px)
{
	.wedding-photo img
	{
		width:200px;
		display: inline;
		margin: 2%;
		
	}
	#img1
	{
		margin-left: 5%;
	}
	#img4
	{
		margin-left: 5%;
	}
	#img7
	{
		margin-left: 5%;
	}
	#map
	{
		width:600px;
		height:400px;
	}
}	
@media(min-width:1200px)
{
	.wedding-photo img
	{
		width:300px;
		display: inline;
		
	}
	#img1
	{
		margin-left: 10%;
	}
	#img4
	{
		margin-left: 10%;
	}
	#img7
	{
		margin-left: 10%;
	}
}